@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This page is to commemorate the momentous day of @ViewData["TimeStamp"] that we built this dope site.</p>
